    predict label
    => 0 or 1 
    
    Taking the log controls our preds to 0~1 
    => log (p/(1-p))

### sigmoid function 의 형태를 띈다

### Quiz: Fitting Logistic Regression

In [1]:
import numpy as np 
import pandas as pd 
import statsmodels.api as sm 

df = pd.read_csv('./fraud_dataset.csv')
df.head()

   transaction_id   duration      day  fraud
0           28891  21.302600  weekend  False
1           61629  22.932765  weekend  False
2           53707  32.694992  weekday  False
3           47812  32.784252  weekend  False
4           43455  17.756828  weekend  False

`1.` As you can see, there are two columns that need to be changed to dummy variables.  Replace each of the current columns to the dummy version.  Use the 1 for `weekday` and `True`, and 0 otherwise.  Use the first quiz to answer a few questions about the dataset.

In [5]:
# get dummies on day and fraud column(Categorical feature)
df[['no_fraud','fraud']] = pd.get_dummies(df['fraud'])
df[['weekday','weekend']] = pd.get_dummies(df['day'])
df.head()

   transaction_id   duration      day  fraud  no_fraud  weekend  weekday
0           28891  21.302600  weekend      0         1        1        0
1           61629  22.932765  weekend      0         1        1        0
2           53707  32.694992  weekday      0         1        0        1
3           47812  32.784252  weekend      0         1        1        0
4           43455  17.756828  weekend      0         1        1        0

In [9]:
df = df.drop('no_fraud',axis=1)

KeyError: "['no_fraud'] not found in axis"

In [10]:
df['fraud'].mean()

0.012168770612987604

In [14]:
df.groupby('fraud').mean()

       transaction_id   duration   weekend   weekday
fraud
0        55262.229219  30.013583  0.659567  0.340433
1        53713.616822   4.624247  0.261682  0.738318

In [12]:
df.groupby('fraud').mean()['duration']

fraud
0    30.013583
1     4.624247
Name: duration, dtype: float64

In [17]:
df['weekday'].mean()

0.3452746502900034

`2.` Now that you have dummy variables, fit a logistic regression model to predict if a transaction is fraud using both day and duration.  Don't forget an intercept!  Use the second quiz below to assure you fit the model correctly.

In [18]:
df['intercept'] = 1
log_mod = sm.Logit(df['fraud'], df[['intercept','weekday','duration']])
results = log_mod.fit()
results.summary()

Optimization terminated successfully.
         Current function value: inf
         Iterations 16

C:\ProgramData\Anaconda3\lib\site-packages\statsmodels\discrete\discrete_model.py:1810: RuntimeWarning: overflow encountered in exp
  return 1/(1+np.exp(-X))
C:\ProgramData\Anaconda3\lib\site-packages\statsmodels\discrete\discrete_model.py:1863: RuntimeWarning: divide by zero encountered in log
  return np.sum(np.log(self.cdf(q*np.dot(X,params))))
C:\ProgramData\Anaconda3\lib\site-packages\statsmodels\base\model.py:547: HessianInversionWarning: Inverting hessian failed, no bse or cov_params available
  warnings.warn('Inverting hessian failed, no bse or cov_params '
C:\ProgramData\Anaconda3\lib\site-packages\statsmodels\base\model.py:547: HessianInversionWarning: Inverting hessian failed, no bse or cov_params available
  warnings.warn('Inverting hessian failed, no bse or cov_params '

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                  fraud   No. Observations:                 8793
Model:                          Logit   Df Residuals:                     8790
Method:                           MLE   Df Model:                            2
Date:                Wed, 15 Dec 2021   Pseudo R-squ.:                     inf
Time:                        17:29:32   Log-Likelihood:                   -inf
converged:                       True   LL-Null:                        0.0000
Covariance Type:            nonrobust   LLR p-value:                     1.000
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
intercept      9.8709      1.944      5.078      0.000       6.061      13.681
weekday        2.5465      0.904      2.816      0.005       0.774       4.319
duration      -1.4637      0.290     -5.039      0.000      -2.033      -0.894
==============================================================================

Possibly complete quasi-separation: A fraction 0.98 of observations can be
perfectly predicted. This might indicate that there is complete
quasi-separation. In this case some parameters will not be identified.
"""

In [19]:
9.8709 + 2.5465

12.4174

In [20]:
1.4637 + 2.5465

4.0102

### Exponate 자연상수 E의 지수함수로 바꾸기

In [24]:
np.exp(results.params)

intercept    19359.702805
weekday         12.761978
duration         0.231370
dtype: float64

### Loogistic Regression Model's prediction

=> log (p/(1-p))

logistic(z) = 1 / 1+exp(-z)

In [26]:
1/np.exp(-1.4637)

4.321921089278333

### exponentiate the coefficient 
    => e의 지수함수로 만들어라 상관계수들을