### Calculating Errors

In [1]:
import numpy as np
import pandas as pd 

jud_data = pd.read_csv('judicial_dataset_predictions.csv')
par_data = pd.read_csv('parachute_dataset.csv')

In [2]:
jud_data.head()

   defendant_id    actual predicted
0         22574  innocent  innocent
1         35637  innocent  innocent
2         39919  innocent  innocent
3         29610    guilty    guilty
4         38273  innocent  innocent

In [3]:
par_data.head()

   parachute_id actual predicted
0          3956  opens     opens
1          2147  opens     opens
2          2024  opens     opens
3          8325  opens     opens
4          6598  opens     opens

`1.` Above, you can see the actual and predicted columns for each of the datasets.  Using the **jud_data**, find the proportion of errors for the dataset, and furthermore, the percentage of errors of each type.  Use the results to answer the questions in quiz 1 below.  

**Hint for quiz:** an error is any time the prediction doesn't match an actual value.  Additionally, there are Type I and Type II errors to think about.  We also know we can minimize one type of error by maximizing the other type of error.  If we predict all individuals as innocent, how many of the guilty are incorrectly labeled?  Similarly, if we predict all individuals as guilty, how many of the innocent are incorrectly labeled?

h1:

In [6]:
(jud_data[jud_data['actual'] != jud_data['predicted']]).shape[0]/jud_data.shape[0]

0.042152958945489497

In [7]:
jud_error = jud_data[jud_data['actual'] != jud_data['predicted']]

In [8]:
jud_error.head()

    defendant_id  actual predicted
42         29430  guilty  innocent
44         29092  guilty  innocent
49         29012  guilty  innocent
56         26079  guilty  innocent
71         25523  guilty  innocent

h0:innocent
h1:guilty

In [11]:
jud_error[jud_error['actual']=='guilty'].shape[0]/jud_data.shape[0]

0.04064259233832212

In [12]:
jud_error[jud_error['actual']=='innocent'].shape[0]/jud_data.shape[0]

0.001510366607167376

`2.` Using the **par_data**, find the proportion of errors for the dataset, and furthermore, the percentage of errors of each type.  Use the results to answer the questions in quiz 2 below.

These should be very similar operations to those you performed in the previous question.

In [13]:
par_data

      parachute_id actual predicted
0             3956  opens     opens
1             2147  opens     opens
2             2024  opens     opens
3             8325  opens     opens
4             6598  opens     opens
...            ...    ...       ...
5824          3014  opens     opens
5825          7870  opens     opens
5826          8984  opens     opens
5827          8147  opens     opens
5828          4958  opens     opens

[5829 rows x 3 columns]

In [14]:
par_error = par_data[par_data['actual'] != par_data['predicted']]
par_error

      parachute_id actual predicted
77            3716  opens     fails
112           7116  opens     fails
215           3520  opens     fails
244           3300  opens     fails
288           8146  opens     fails
...            ...    ...       ...
5767          7145  opens     fails
5774          4008  opens     fails
5798          5965  opens     fails
5802          7802  opens     fails
5820          6678  opens     fails

[233 rows x 3 columns]

h0: par fails
h1: par opens

In [15]:
par_error.shape[0]/par_data.shape[0]

0.039972551037913875

In [17]:
par_error['actual'].value_counts()

opens    232
fails      1
Name: actual, dtype: int64

In [18]:
par_error[par_error['actual']=='fails'].shape[0]/par_data.shape[0]

0.00017155601303825698

In [19]:
par_error[par_error['actual']=='opens'].shape[0]/par_data.shape[0]

0.03980099502487562

In [21]:
par_error[par_error['predicted']=='fails'].shape[0]/par_error.shape[0]

0.9957081545064378