In [2]:
import numpy as np
import pandas as pd

df = pd.read_csv('judicial_dataset_pvalues.csv')
df.head()

   defendant_id    actual    pvalue
0         22574  innocent  0.294126
1         35637  innocent  0.417981
2         39919  innocent  0.177542
3         29610    guilty  0.015023
4         38273  innocent  0.075371

`1.` Remember back to the null and alternative hypotheses for this example. Use that information to determine the answer for **Quiz 1** and **Quiz 2** below.

`2.` If we consider each individual as a single hypothesis test, find the conservative Bonferroni corrected alpha level we should use to maintain a 5% type I error rate.

`3.` What is the proportion of type I errors made if the correction isn't used?  How about if it is used?  

Use your answers to find the solution to **Quiz 3** below.

In [6]:
df

      defendant_id    actual    pvalue
0            22574  innocent  0.294126
1            35637  innocent  0.417981
2            39919  innocent  0.177542
3            29610    guilty  0.015023
4            38273  innocent  0.075371
...            ...       ...       ...
7278         20858  innocent  0.608904
7279         31359    guilty  0.032305
7280         32703    guilty  0.046650
7281         23146  innocent  0.138137
7282         28112  innocent  0.212842

[7283 rows x 3 columns]

In [7]:
df['pvalue'].mean()

0.2592602828733657

In [29]:
new_a = 0.05/df.shape[0]
new_a

6.86530275985171e-06

In [ ]:
# h0: innocent 
# h1: guilty 

# p-value ==> probability of innocent?

In [30]:
df.query("actual == 'innocent' and pvalue < 0.05").shape[0]/df.shape[0]

0.001510366607167376

In [31]:
df.query("actual == 'innocent' and pvalue < @new_a").count()[0]/df.shape[0]

0.0

In [21]:
(df[df['actual']=='innocent']['pvalue'] < new_a).mean()

0.0

In [23]:
(df[df['actual']=='innocent']['pvalue'] <0.05).mean()

0.0033444816053511705