기존 그룹 vs 뉴그룹

## Null Hypothesis vs Alternative Hypothesis

H0: The new version is no better or even worse  than old version\
h1: the new version is better than the old version

## if we fail to reject the null hypothesis, 
    => the results ==> keeping old version

### 편향된 결과를 가져올수 있으므로 
    => Change Aversion: 기존 회원이 편향되게 기존 버전에게 좋은 어드밴티지 줄수 있다. 
    => Novelty Effect: 기존회원이 편향되게 뉴 버전에게 좋은 어드밴티지 줄수 있다. 새로운 변화에 신선해서!

### Click Through Rate = # clicks / #page views

    => #unique visitors who click at least once / #unique visitors who view the page

### H1: new _version > old_version
### H0: new_version <= old_version

    => H0: CTR_new <= CTR_old => CTR_new - CTR_old <=0
    => H1: CTR_new > CTR_old => CTr_new - CTr_old >0

In [1]:
import numpy as np
import pandas as pd 

df = pd.read_csv('homepage_actions.csv')
df.head()

                    timestamp      id       group action
0  2016-09-24 17:42:27.839496  804196  experiment   view
1  2016-09-24 19:19:03.542569  434745  experiment   view
2  2016-09-24 19:36:00.944135  507599  experiment   view
3  2016-09-24 19:59:02.646620  671993     control   view
4  2016-09-24 20:26:14.466886  536734  experiment   view

### 1. Match the following characteristics of this dataset: 
- total number of actions
- number of unique users
- sizes of the control and experiment groups (i.e., the number of unique users in each group)

In [3]:
# total number of actions 
df.shape[0]

8188

In [6]:
# number of unique users 
df.id.unique().size

6328

In [44]:
# size of control group and experiment group

df.groupby('group').nunique().id

group
control       3332
experiment    2996
Name: id, dtype: int64

### 2. How long was the experiment run for? 
Hint: the records in this dataset are ordered by timestamp in increasing order

In [41]:
from datetime import datetime

In [11]:
df_exp = df[df['group']=='experiment']

In [20]:
df_exp_sort = df_exp['timestamp'].sort_values()

In [45]:
df.timestamp.max(), df.timestamp.min()

('2017-01-18 10:24:08.629327', '2016-09-24 17:42:27.839496')

### 3. What action types are recorded in this dataset?
(i.e., What are the unique values in the action column?)